*,
*::after,
*::before {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}

img {
	width: 100%;
	height: auto;
}

body {
	letter-spacing: 0.43px;
	background-color: #B6B6B6;
}

.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;
}

.wrapper {
	max-width: 480px;
	margin: 0 auto;
	background-color: #fff;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

.hide {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	transition: opacity 1.3s;
}

.text-under {
	text-decoration: underline;
}

.text-accent {
	font-weight: 800;
}

.link {
	max-width: 410px;
	color: $white;
	padding: 25px 0;
	text-align: center;
	font: 700 25px/30px $font;
	background: linear-gradient(270.53deg, #800095 -2.53%, #FF00F5 66.04%), #BD00FF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all .3s ease-in-out;
	&::after{
		transition: all .3s ease-in-out;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(30.53deg, #800095 -2.53%, #FF00F5 66.04%), #BD00FF;
		z-index: -1;
		opacity: 0;
		animation: linkAnim 5s ease-in-out infinite;
	}
	&:hover{
		&::after{
			animation-play-state: paused;
		}
	}
}

@keyframes linkAnim {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.section-title{
	max-width: 350px;
	text-align: center;
	margin: 0 auto;
	font: 900 25px/30px $font;
}